{
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/strongly-recommended"
  ],
  "plugins": [
    "typescript",
    "prettier",
    "vue"
  ],
  "rules": {
    "no-unused-vars": 0
  }
}
