:root {
  --space-base: 8px;
  --radius-base: 4px;
  --color-black: #000;
  --color-light-gray: #f0f0f0;
  --color-gray: #bcbcbc;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 62.5%;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  background-color: var(--color-light-gray);
  font-family: sans-serif;
  font-size: 2rem;
}

.FormContainer {
  padding: calc(var(--space-base) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormContainer > * {
  margin: calc(var(--space-base) * 2) auto;
}
